/* ===============
   General CSS
   =============== */
* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  padding: 0px;
  width: 100%;
  margin: 0%;
}
h1 {
  font-family: "Yuji Syuku";
  font-size: 100px;
  margin: 0;
}
h2,
h3 {
  font-family: "Yuji Syuku";
  font-size: 40px;
}
body {
  font-size: 16px;
  background-color: rgb(223, 163, 12);
  font-family: Trebuchet, sans-serif;
}
/* ----------------Start navigation----------------- */
nav {
  background-color: rgb(238, 194, 83);
}
nav ul {
  display: flex;
  list-style-type: none;
}

nav li a {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #a10101;
}

nav li a:hover {
  background-color: #000000;
  color: rgb(255, 230, 0);
}

/* ----------------End navigation----------------- */
/*=================
        FOOTER
   ================*/
.footer {
  display: flex;
  background-color: rgb(216, 180, 88);
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 10px 0px 10px 30px;
  background-color: rgb(216, 180, 88);
}
footer li a {
  display: inline-block;
  text-decoration: none;
  color: #a10101;
}
footer p {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
/*code taken from w3schools*/
.fa {
  padding: 20px;
  font-size: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 7px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background-color: black;
  color: white;
  margin-left: 30px;
  margin-bottom: 10px;
}
.fa-instagram {
  background: #a10101;
  color: white;
  margin-bottom: 10px;
}

/*end code taken from w3schools*/
/*=================
        END FOOTER
   ================*/
@media only screen and (max-width: 797px) {
    .contact-layout { margin:20px;}
    .fa {
      padding: 4px;
      font-size: 60px;
      width: 60px;
      text-align: center;
      text-decoration: none;
      margin: 7px 2px;
    }

    footer a {height: 25px;
    width:auto;}
  
    .form-title {display:flex;
      flex-direction: column;
      width:100px;
      margin:auto;}
    }
    
@media only screen and (max-width: 1000px) {
  .contact-layout img {display: none;  }
}

@media only screen and (max-width: 1242px) { 
  .contact-layout img {
    width:100%;
    max-width: 100px;
    height: auto;}

  .form-title p,h1,form {padding-left:15px;
  padding-right:15px}  
  
}


/* ===============
   End General CSS
   =============== */

/* =============================================
                       Index
   ============================================= */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:300px 400px 400px 280px 1px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "picture1 picture1 picture1 taglineh2 taglineh2"
    "picture1 picture1 picture1 julianas_text julianas_text"
    "servicesh2 servicesh2 services_list picture2 picture2"
    "servicesh2 servicesh2 services_list  picture2 picture2"
    "allies allies allies allies allies";
}
.bluemakeup h1 {
  color: rgb(255, 183, 0);
  text-align: right;
  margin-top: 290px;
  padding: 0px;
  margin-right: 0px;
}
.bluemakeup h3 {
  color: rgb(255, 183, 0);
  text-align:right;
  margin-top: 0px;
  margin-right:25px;
}

.bluemakeup h1 {
  font-size: 200px;
}

.bluemakeup {
  grid-area: picture1;
  background-image: url(pictures_juno/bluemakeup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x:center;
}

.neon {
  grid-area: picture2;
  background-image: url(pictures_juno/neon.png);
  background-size: cover;
  background-position-x: center;
}
.allies_logos {
  margin: 0;
  padding: 20px;
  color: rgb(255, 183, 0);
  display: flex;
  justify-content: space-around;
  background-color: #5f0303;
}

.allies_logos p {
  margin: 40px 0px 40px 0px;
}
.allies_logos img {
  height: 100px;
  border-radius: 20px;
}

.taglineh2 {
  grid-area: taglineh2;
  text-align: center;
}
.taglineh2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
}
.julianas_text {
  grid-area: julianas_text;
}
.julianas_text p {
  color: rgb(0, 0, 0);
  margin: 50px;
  text-align: center;
}
.redjacket {
  grid-area: picture2;
  background-color: darkgreen;
  background-image: url(pictures_juno/redjacket.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.servicesh2 {
  grid-area: servicesh2;
}
.servicesh2 h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.services_list {
  grid-area: services_list;
  text-align: left;
  font-size: 18px;
  margin-top: 120px;
}
.services_list li {
  list-style-type: none;
  font-family: "Yuji Syuku";
}

.alliesh2 {
  grid-area: alliesh2;
}
.alliesh2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
}
/* =============================================
                      End Index
   ============================================= */

/* =============================================
                      MAKEUP
   ============================================= */

.makeup {
  display: flex;
  padding: 0px;

  margin: 0px 0px 0px 80px;
}

.glow {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  flex-flow: column;
  padding: 25px;
  justify-content: center;
}

.glow ul li {
  margin: 20px;
  list-style-type: none;
  padding: 0;
}

.glow h2 {
  margin-left: 20px;
}
.gallery {width:1000px;}

.gallery table {border-spacing:0px;
   border-collapse:collapse;}
   
.gallery img{
  width:100%;
    max-width: 350px;
    height: auto;}
table figure {width:196px;height: 290px;}


/* =============================================
                      WARDROBE
   ============================================= */
.fashion {
  display: flex;
  justify-content: right;
}
.fashion h1 {
  margin-top: 80px;
}
.styling {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.costume {
  display: flex;
}
.design h2 {
  font-size: 50px;
  margin: 40px;
}

/* =============================================
                      ABOUT
   ============================================= */
.about {
  display: flex;
  margin: 0px 0px 0px 80px;
}

.contenido {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contenido p,
h1 {
  margin-right: 30px;
  margin-bottom: 30px;
}

.contenido h1 {
  margin-top: 60px;
  font-size: 80px;
}

.contenido img {width:100%;
  max-width: 520px;
  height: auto
  }
.map {margin:10px 0px 0px 30px;}
/* =============================================
                        CONTACT
   ============================================= */
/*Base code taken from Claire´s-Forms codepen*/

* {box-sizing: border-box;
}
.contact-layout{display:flex;
}
.contact-layout img {
  width:100%;
  max-width: 520px;
  height: auto;
  
}
.form-title {display:flex;
flex-direction: column;
width:700px;
margin:auto;
}

.contact-picture figure {height:700px;}

.form-title h1 {font-size: 60px;}
.radio-buttons {margin:10px 0px 10px 0px;}
.form-title p {margin:20px 0px 20px 0px;}

.contact-layout form {
  background-color: rgb(238, 194, 83);
  padding:20px;
  border-radius: 15px;
}
/* ===============
     TYPOGRAPHY
     =============== */

.wrapper-form body {
  font-family:'Trebuchet MS', sans-serif
}

/* ===============
     BUTTONS
     =============== */

.form-title input[type="reset"] {
  color: #a10101;
  padding: 12px 20px;
  border: 1px solid #a10101;
  border-radius: 4px;
  cursor: pointer;
}

.form-title input[type="reset"]:hover {
  background-color: rgb(216, 180, 88);
}

.form-title input[type="submit"] {
  background-color: #a10101;
  color: white;
  padding: 12px 20px;
  border: 1px solid #a10101;
  border-radius: 4px;
  cursor: pointer;
}

.form-title input[type="submit"]:hover {
  background-color: #000000;
  border: 1px solid #000000;
}
.wrapper-button {
  display: flex;
  justify-content:space-between;
}

/* ===============
     FORM CONTROLS
     =============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family:'Trebuchet MS',sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}

figure {
  margin-inline: 0;
  margin-block: 0;
}


/* ===============
        End Contact
   =============== */
