header { display: flex;
    padding: 0px; 
    width: 800px;
    margin: auto;  
}
h1 {
    font-family: 'Yuji Syuku';
    font-size: 60px;
  }
h2,h3 
{
    font-family: 'Yuji Syuku';
    font-size: 40px;
  }
body {
    font-family: 'Cabin';
    font-size:18PX;
    background-color: rgb(223, 163, 12);
    font-family: Trebuchet,sans-serif;
}

main.home {display:flex;
    padding: 0;
    width: 1020px;
    margin: auto;
  }
  /* start navigation */

nav {
    background-color: rgb(238, 194, 83);
  
  }
  nav ul {display:flex;
    list-style-type: none;
  }
  
  nav li a { 
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: #07033f;
  }
  
  nav li a:hover { 
    background-color: #f5b70d;
    color: white;
  }
  /* end navigation */

/*FOOTER*/

footer ul { 
    display:flex;
    list-style-type: none ;
}
p {display: flex;
        margin: 10px;
        padding: 10px;
      }

 /*code taken from w3schools*/     
.fa {
        padding: 15px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
.fa:hover {
        opacity: 0.7;
    }
    
.fa-facebook {
      background: #3B5998;
      color: white;
    }

.fa-instagram {
        background: #b4136c;
        color: white;
      }   
      
/*end footer*/

/*INDEX*/
 article {display:flex;
     flex-direction: column;
     width: 75%;
     flex-basis:0;
     flex-grow: 2;
       }

aside { padding: 15px;
        display:flex;
         flex-basis:0;
         flex-grow: 1;
         align-content: space-between;
         flex-flow:column;
         justify-content: space-between;
       }
     

/*Contact*/

/*indexgrid*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 0.8fr 1.4fr;
  grid-template-rows: 1fr 0.8fr 0.9fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "picture1 picture1 picture1 taglineh2 taglineh2"
    "picture1 picture1 picture1 julianas_text julianas_text"
    "servicesh2 servicesh2 servicesh2 picture2 picture2"
    "services_list services_list services_list picture2 picture2"
    "alliesh2 alliesh2 allies_logos allies_logos allies_logos";
}

.bluemakeup { grid-area: picture1; background-color: aqua;}

.taglineh2 { grid-area: taglineh2;background-color: blueviolet;text-align: center; }
.taglineh2 h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding:20px;
}
.julianas_text { grid-area: julianas_text;background-color: crimson; }
.julianas_text p {display: flex;
}
  
.redjacket { grid-area: picture2;background-color: darkgreen;
  background-image:url(pictures_juno/redjacket.jpg);
  background-repeat: no-repeat;
background-size: contain; }

.servicesh2 { grid-area: servicesh2;background-color: darkmagenta;}
.servicesh2 h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.services_list { grid-area: services_list; background-color: darkslateblue;}

.allies_logos { grid-area: allies_logos;background-color: deepskyblue; }

.alliesh2 { grid-area: alliesh2; background-color: firebrick;}
.alliesh2 h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding:20px;
}